.container-fluid


  %ol.breadcrumb
    %li.breadcrumb-item
      %a{:href => '#'} Admin
    %li.breadcrumb-item.active Manage Tutors

  / DataTables Example
  .card.mb-3
    .card-header
      %span.glyphicon.glyphicon-pencil
      Set Tutors
    .card-body
      .row
        .col
          .container-fluid
            .ml-2.mb-2
              Please enter one tutor email per line.
              %br
              Tutors whose accounts have not yet been created will persist in the box below.
            = form_tag admin_add_tutor_path do
              = text_area_tag 'tutor_list', @tutor_list, rows: 5, class: 'form-control'
              = submit_tag 'Update Tutor List', class:'btn btn-info mt-3'
        .col
          .table-responsive
            %table#dataTable.table.table-bordered{:cellspacing => '0', :width => '100%'}
              %thead
                %tr
                  %th Tutor Name
                  %th Tutor Email
                  %th

              %tbody
                - @tutors.each do |tutor|
                  %tr
                    %td= tutor.full_name
                    %td= tutor.email
                    %td= button_to 'Remove Tutor', action:"remove_tutor", params: {user: tutor.id}
